<h1>ワークスペース作成</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <%= form_for(:session, url: creatework_url) do |f| %>

      <%= f.label :ワークスペース名 %>
      <%= f.text_field :workspace_name, class: 'form-control' %>

      <%= f.label :チャンネル名 %>
      <%= f.text_field :name, class: 'form-control' %>
      
     <p> <%= f.submit "作成", class: "btn btn-lg btn-primary" %></P>
     <% end %>
  </div>
</div>
